<!-- Navbar start -->
<div class="container-fluid fixed-top" style="background-color: #a6d8ed">
  <div class="container px-0">
    <nav class="navbar navbar-light navbar-expand-xl">
      <a href="index.html" class="navbar-brand"
        ><h1 class="text-light display-6">Fruitable</h1></a
      >
      <button
        class="navbar-toggler py-2 px-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="d-flex m-3 me-0 ms-auto">
          <button
            class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4"
            data-bs-toggle="modal"
            data-bs-target="#searchModal"
          >
            <i class="fas fa-search text-primary"></i>
          </button>
          <a
            [routerLink]="['/shopping-card']"
            class="position-relative me-4 my-auto"
          >
            <i class="fa fa-shopping-bag fa-2x" *ngIf="isLogged"></i>
            <span
              class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
              style="top: -5px; left: 15px; height: 20px; min-width: 20px"
              *ngIf="productCount != 0 && isLogged"
              >{{ productCount }}</span
            >
          </a>
          <div class="dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user fa-2x text-primary"></i>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <ng-container *ngIf="!isLogged; else loggedInMenu">
                <!-- Kullanıcı giriş yapmamışsa -->
                <li>
                  <a class="dropdown-item" [routerLink]="['/login']"
                    >Giriş Yap</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="['/register']"
                    >Kaydol</a
                  >
                </li>
              </ng-container>

              <ng-template #loggedInMenu>
                <!-- Kullanıcı giriş yapmışsa -->
                <li><a class="dropdown-item">Siparişlerim</a></li>
                <li>
                  <a class="dropdown-item" (click)="logout()"
                    >Çıkış Yap</a
                  >
                </li>
              </ng-template>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div
      class="d-flex mx-auto row justify-content-between"
      style="
        background-color: white;
        border-radius: 5px;
        margin-top: -5px;
        margin-bottom: 8px;
      "
    >
      <ng-container *ngFor="let category of categories">
        <a
          routerLink="/category/{{ category.categoryID }}/{{
            category.categoryName
          }}"
          routerLinkActive="active"
          class="col nav-item nav-link active"
          style="color: #0a58ca; font-size: 20px"
          ><strong>{{ category.categoryName }}</strong></a
        >
      </ng-container>
    </div>
  </div>
</div>
<!-- Navbar End -->
