<!-- Navbar start -->
<div *ngIf="!isAdmin">
  <div class="container-fluid fixed-top">
    <div
      class="container-fluid px-0"
      style="background-color: #a6d8ed; border-radius: 20px"
    >
      <nav class="navbar navbar-light navbar-expand-xl">
        <a href="index.html" class="navbar-brand"
          ><h1 class="text-light display-6" style="margin-left: 30px">
            <strong>HEALTHY BEAUTY</strong>
          </h1></a
        >
        <button
          class="navbar-toggler py-2 px-3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="fa fa-bars text-primary"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-right: 100px;">
          <div class="d-flex m-3 me-0 ms-auto">
            <a
              [routerLink]="['/shopping-card']"
              class="position-relative me-4 my-auto"
            >
              <i class="fa fa-shopping-bag fa-2x" *ngIf="isLogged"></i>
              <span
                class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                style="top: -5px; left: 15px; height: 20px; min-width: 20px"
                *ngIf="productCount != 0 && isLogged"
                >{{ productCount }}</span
              >
            </a>
            <div class="dropdown">
              <a
              data-bs-placement="bottom-start"
                class="btn dropdown-toggle"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-user fa-2x text-primary"></i>
              </a>
              <div class="dropdown">
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  aria-labelledby="dropdownMenuLink"
                >
                  <ng-container *ngIf="!isLogged; else loggedInMenu">
                    <!-- Kullanıcı giriş yapmamışsa -->
                    <li>
                      <a class="dropdown-item" [routerLink]="['/login']"
                        >Giriş Yap</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="['/register']"
                        >Kaydol</a
                      >
                    </li>
                  </ng-container>

                  <ng-template #loggedInMenu>
                    <!-- Kullanıcı giriş yapmışsa -->
                    <li>
                      <a class="dropdown-item" [routerLink]="['/user-orders']"
                        >Siparişlerim</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="logout()">Çıkış Yap</a>
                    </li>
                  </ng-template>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container" style="margin-top: -5px">
      <div class="row justify-content-between mt-3">
        <ng-container *ngFor="let category of categories">
          <div class="col-auto">
            <a
              routerLink="/category/{{ category.categoryID }}/{{
                category.categoryName
              }}"
              routerLinkActive="active"
              class="btn btn-outline-primary rounded-pill"
              style="
                font-size: 20px;
                width: fit-content;
                border-color: #a6d8ed;
                color: #a6d8ed;
              "
            >
              <strong>{{ category.categoryName }}</strong>
            </a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #a6d8ed"
  *ngIf="isAdmin"
>
  <div class="container-fluid">
    <a
      class="navbar-brand"
      href="#"
      style="color: white; margin-left: 100px; font-size: xx-large"
    >
      <strong>ADMİN PAGE</strong>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarAdminContent"
      aria-controls="navbarAdminContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarAdminContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/admineditProduct']">Ürünler</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/admineditCategory']"
            >Kategoriler</a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/admineditOrder']">Siparişler</a>
        </li>
      </ul>
      <div class="d-flex">
        <button
          class="btn btn-outline-primary"
          type="submit"
          (click)="logout()"
        >
          Çıkış Yap
        </button>
      </div>
    </div>
  </div>
</nav>
