<!-- Hero Start -->
<div class="container py-5" style="margin-top: 150px">
  <div class="row g-5 align-items-center">
    <div class="col-md-12 col-lg-7">
      <h1 class="mb-5 display-3 fw-bold" style="color:#a6d8ed">
        <em>En Değerli Giysiniz Cildiniz</em>
      </h1>
    </div>
    <div class="col-md-12 col-lg-5">
      <div
        id="carouselId"
        class="carousel slide position-relative"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active rounded">
            <img
              src="../assets/img/img4.jpg"
              class="img-fluid w-100 h-100 bg-secondary rounded"
              alt="First slide"
            />
          </div>
          

          <div class="carousel-item rounded">
            <img
              src="../assets/img/img3.jpg"
              class="img-fluid w-100 h-100 rounded"
              alt="Second slide"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselId"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselId"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Hero End -->
<div class="container-fluid fruite py-5" style="margin-top: -200px;">
  <div class="container py-5">
    <div class="tab-class text-center" style="margin-top: 100px">
      <div class="row g-4">
        <div class="col-lg-4 text-start" style="margin-bottom: 50px">
          <h1>{{ category }}</h1>
        </div>
      </div>
      <div class="tab-content">
        <div class="row g-4">
          <ng-container *ngFor="let product of products; let i = index">
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="rounded position-relative fruite-item">
                <div class="fruite-img">
                  <img
                    src="{{
                      APIAddress.replace('Api/', '') + product.imageURL
                    }}"
                    class="img-fluid w-100 rounded-top"
                    alt="resim"
                  />
                </div>

                <div
                  class="p-4 rounded-bottom"
                  style="
                    border: 4px solid #a6d8ed;
                    border-radius: 0 0 10px 10px;
                    border-top: 0;
                  "
                >
                  <h4>{{ product.productName }}</h4>

                  <p>{{ product.productDescription }}</p>
                  <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">
                      {{ product.price }} TL
                    </p>
                  </div>
                  <div style="margin-right: -80px; margin-top: 20px">
                    <a
                      (click)="AddCart(product.productID, product.price)"
                      class="btn rounded-pill px-3 text-primary"
                      style="
                        border: 3px solid #a6d8ed;
                        border-radius: 0 0 10px 10px;
                      "
                      ><i class="fa fa-shopping-bag me-2 text-primary"></i>
                      Sepete ekle</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- Her 5 üründen sonra yeni bir satır ekleyin -->
            <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
